* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1;
}

body {
  background-image: url(images/bg-desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: hsl(257, 40%, 49%);

  font-family: "Poppins", "Open Sans", sans-serif;
}

.container {
  /* max-width: 120rem; */
  padding: 1rem 10rem 6rem 10rem;
  margin: 0 auto;
}

.header {
}

.logo {
}

.hero-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6rem;
}

.hero-left--img {
}

.hero-img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  margin-top: 6rem;
  min-width: 60rem;
}

.hero-text--right {
  color: #fff;
  margin-top: 6rem;
  width: 90%;
}

.hero-heading {
  font-size: 6rem;
  font-weight: 600;
  margin-bottom: 3.2rem;
}
.hero-description {
  font-family: "Open Sans";
  color: #ffffffce;
  font-size: 2.4rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.hero-btn {
  background: none;
  border: none;
  padding: 1rem 3rem;
  background-color: #fff;
  color: #674baf;
  border-radius: 2rem;
  font-size: 1.6rem;

  font-weight: 600;
}

.hero-btn:hover {
  background-color: #da77f2;
  color: #fff;
}

.hero-btn:active {
  color: #111;
}

.footer {
  /* display: flex;
  justify-content: space-between; */
}

.icon-div {
  display: flex;
  justify-content: end;
}

.icon {
  font-size: 2.4rem;
  color: #fff;
  height: 3.2rem;
  width: 3.2rem;
  border: 2px solid #fff;
  padding: 0.4rem;
  border-radius: 100px;
  display: flex;
  margin-left: 1rem;
}

.icon:hover {
  color: #da77f2;
  border: 2px solid #da77f2;
}

footer {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 2rem;
  color: #fff;
}

.footer p a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  transition: 0.3s ease;
}
.footer p a:hover {
  color: #007bff;
}
.footer p a:active {
  color: #9775fa;
}

/* media queries */

@media (max-width: 1240px) {
  .hero-img {
    min-width: 50rem;
  }
}
@media (max-width: 1000px) {
  .hero-img {
    min-width: 45rem;
  }

  .hero-heading {
    font-size: 4rem;

    margin-bottom: 2.6rem;
  }
  .hero-description {
    font-size: 2rem;

    margin-bottom: 2rem;
  }
}
@media (max-width: 800px) {
  .container {
    padding: 1rem 5rem 3rem 5rem;
    margin: 0 auto;
  }

  .hero-img {
    min-width: 35rem;
  }

  .hero-heading {
    font-size: 2.4rem;

    margin-bottom: 2rem;
  }
  .hero-description {
    font-size: 1.6rem;

    margin-bottom: 2rem;
  }
}

@media (max-width: 650px) {
  .container {
    padding: 1rem 2rem;
    margin: 0 auto;
  }

  .hero-section {
    gap: 0;
  }
  .logo {
    display: flex;
    justify-content: center;
  }
  .hero-left--img {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero-img {
    min-width: 10rem;
    max-width: 35rem;
    margin-top: 0;
  }

  .hero-text--right {
    text-align: center;
    margin-top: 0;
    width: 100%;
  }

  .hero-heading {
    font-size: 3.6rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }
  .hero-description {
    font-size: 2rem;
    line-height: 1.6;
    padding: 0 1rem;

    margin-bottom: 2.9rem;
  }

  .hero-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .hero-btn {
    padding: 1rem 10rem;
  }

  .icon-div {
    display: flex;
    justify-content: center;
  }
}
